h1{
    color: rgb(0, 170, 97);
    padding-left: 4%
}
h2{
    padding-right: 5%;
}
h3{
    color: rgb(0,170,97);
    font-style: italic;
}
img{
    filter: brightness(10px);
}
ol{
    font-weight: bolder;
    color: midnightblue;
    font-size: 14px;
}
a:link{
    color:midnightblue;
}
a:visited{
    color:midnightblue;
}
.header {
    display:flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px #000000;
    background-color: rgb(240,240,240);
}
.items {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.item:hover{
    transform: scale(1.2);
}
.item{
    position:relative;
}
.item h3{
    position:absolute;
    top:10%;
    left:45%;
    opacity:0;
}

.item ol{
    position:absolute;
    top:30%;
    left:1%;
    opacity:0;
}

.item:hover h3{
    opacity:1;
}

.item:hover ol{
    opacity:1;
}



.item:hover img{
    filter:blur(15px)
}